[Unit]
Description=Gopherbot DevOps Chatbot
Documentation=https://godoc.org/github.com/uva-its/gopherbot
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ gopherbot_user }}
Group={{ gopherbot_group }}
WorkingDirectory={{ gopherbot_install_directory }}
ExecStart={{ gopherbot_install_directory }}/gopherbot -plainlog {{ gopherbot_extra_args }}
Restart=on-failure
Environment=USER={{ gopherbot_user }} HOME={{ gopherbot_home }} HOSTNAME=%H SLACK_TOKEN={{ gopherbot_slack_token }}
{% if gopherbot_brain_key is defined %}
Environment=GOPHER_BRAIN_KEY={{ gopherbot_brain_key }}
{% endif %}
{% if gopherbot_dynamo_key is defined %}
Environment=BRAIN_AWS_ACCESS_KEY_ID={{ gopherbot_dynamo_key }} BRAIN_AWS_SECRET_ACCESS_KEY={{ gopherbot_dynamo_secret }}
{% endif %}

KillMode=process
# Give the robot plenty of time to finish plugins currently executing;
# no new plugins will start after SIGTERM is caught.
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
