[Unit]
Description=Gopherbot DevOps Chatbot
Documentation=https://godoc.org/github.com/lnxjedi/gopherbot
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ gopherbot_user }}
Group={{ gopherbot_group }}
WorkingDirectory={{ gopherbot_run_directory }}
# Start with wrapper script
#ExecStart={{ gopherbot_run_directory }}/gopherbot
ExecStart={{ gopherbot_install_directory }}/gopherbot -plainlog {{ gopherbot_extra_args }}
Restart=on-failure
Environment=USER={{ gopherbot_user }} HOME={{ gopherbot_home }} HOSTNAME=%H

KillMode=process
# Give the robot plenty of time to finish plugins currently executing;
# no new plugins will start after SIGTERM is caught.
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
